{% load static %}
<nav class="navbar">
    <div class="logo">
        <a href="{% url 'base' %}" class="nav-link">
            <img src="{% static 'LogoIS_Oficial.png' %}" alt="Logo" class="logo-img">
        </a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar productos...">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="nav-links" id="navLinks">
        <a href="{% url 'base' %}" class="nav-link">Inicio</a> <!-- Asegúrate de tener la URL configurada -->
        <a href=# class="nav-link">Carrito <span class="cart-count">0</span></a>
        <!--<a href=# class="nav-link">Iniciar Sesion</a>-->
        {% if request.session.user_id %}
        <a href="{% url 'perfil' %}" class="nav-link">
            {% if user.foto %}
                <img src="{{ user.foto.url }}" alt="Foto de perfil" class="profile-img">
            {% else %}
                <img src="{% static 'default-profile.png' %}" alt="Foto de perfil" class="profile-img">
            {% endif %}
            {{ user.nombre }}
        </a>
        {% else %}
            <a href="#" class="nav-link" id="loginBtn">
                <img src="{% static 'default-profile.png' %}" alt="Perfil" class="profile-img">
                Iniciar Sesión
            </a>
        {% endif %}
    </div>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>