<div class="profile-config">
    <h2>Configuración del Perfil</h2>
     
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        

        <div class="profile-photo">
            <img id="preview" src="{% if user.foto %}{{ user.foto.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="Foto de perfil">
            <input type="file" name="imagenPerfil" id="imagenPerfil" style="display: none;">
            <div id="botones-contenedor">
                <button type="button" id="editar-imagen">Editar foto</button>
                <button type="submit" class="save-imagen">Guardar foto</button>
            </div>
        </div>

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="nombre" value="{{ user.nombre }}" readonly>

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="correo" value="{{ user.correo }}" readonly>

        <label for="celular">Numero Celular</label>
        <input type="number" id="celular" name="celular" value="{{ user.celular }}"  readonly>

        <div class="button-group">
            <!--<button type="button" class="cancel">Cancelar</button>-->
            <a href="{% url 'perfil' %}" class="cancelar">Cancelar</a>
            <button type="button" id="editar-datos">Editar</button>
            <button type="submit" class="save">Guardar</button>
        </div>
    </form>
</div>
    <!--<button class="logout">Cerrar sesión</button              >-->
    <a href= "{% url 'logout' %}" class="logout">Cerrar sesión</a>
    <a href="{% url 'ofertar' %}" class ="ofertarM"> Ofertar Material</a>

<div class="menu-perfil">
    <img id="previewed" src="{% if user.foto %}{{ user.foto.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="Foto de Perfil">
    <ul class="lista-perfil">
        <li> <a href="{% url 'perfil' %}">Perfil</a></li>
        <li><a href="{% url 'ofertar' %}" class ="ofertarMa"> Ofertar Material</a></li>
        <li><a href= "{% url 'logout' %}" class="logoutS">Cerrar sesión</a></li>
    </ul>
</div>