.profile-config {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#editar-imagen {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cancelar {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}
.save {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save {
    background-color: #006400;
    color: white;
}

.logout {
    text-decoration: none; /* Quita el subrayado del enlace */
    background-color: #dc3545; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-top: 20px; /* Espaciado superior */
    width: 100%; /* Ancho completo */
    display: inline-block; /* Para permitir el tamaño y espaciado */
    text-align: center; /* Centra el texto */
}
.ofertarM {
    text-decoration: none; /* Quita el subrayado del enlace */
    background-color: #02735e; /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}


.materials {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.materials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.material-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.material-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.material-card h3 {
    margin: 10px 0;
}

.more-info {
    background-color: #006400;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
@media (min-width: 768px) {

    .profile-config {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .materials {
        flex: 2;
    }
}